<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/styl.css
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/">Contact</a></li>
        </ul>
    </nav>

    <div class="container">

        <h2> GET MEMBERSHIP OF GYM IN 60$- Fill the form</h2>

        <form action="/" method="post" id="contact">

            <input type="text" name="name" id="name" placeholder=" ENTER YOUR NAME">
            <input type="text" name="age" id="name" placeholder=" ENTER YOUR AGE">
            <input type="text" name="gender" id="gender" placeholder=" ENTER YOUR GENDER">
            <textarea name="address" id="address" cols="30" rows="30" placeholder="Enter your address"></textarea>
            <textarea name="MORE" id="more" cols="30" rows="30" placeholder="More about you"></textarea>
            <button class="btn">Submitt</button>
        </form>
    </div>

</body>

</html>