* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
}

body::before {
    content: "";
    position: absolute; /* Ensure it covers the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('https://media.istockphoto.com/id/1322158059/photo/dumbbell-water-bottle-towel-on-the-bench-in-the-gym.jpg?s=612x612&w=0&k=20&c=CIdh6LPGwU6U6lbvKCdd7LcppidaYwcDawXJI-b0yGE=');
    background-repeat: no-repeat;
    background-size: cover; /* Ensure the image covers the entire viewport */
    background-position: center; /* Center the background image */
    opacity: 0.9;
}

nav {
    background-color: rgb(68, 67, 67);
    padding: 12px 12px;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

li {
    padding: 3px 17px;
}

h2 {
    text-align: center;
    font-weight: bold;
}

.container {
    margin: 35px 0px;
    
}

input, textarea {
    display: block;
    padding: 3px;
    width: 60%;
    outline: none;
    border: 2px solid black;
    margin: 15px auto;
    border-radius: 5px;
}
textarea{
    height: 15vh;
}
.btn{
    display: block;
    margin: 4px auto;
    padding: 5px 12px;
    background-color: grey;
    color: white;
    font-size: 15px;
    border: 2px solid black;
    font-weight: bold;
    border-radius: 9px;
    cursor: pointer;
    outline: none;
}